.downTrend {
  color: #ff173e;
}

.upTrend {
  color: #00a97f;
}

.neutral {
  color: #2962ff;
}

/* .tradingCodeCell {
  color: #2962ff;
} */

/* .tradingCodeCell:hover {
  text-decoration: underline;
} */
